*, *:after, *:before {
	box-sizing: border-box;
}


.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}


.card-heading {
	position: absolute;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	.small {
		display: block;
		font-size: .75em;
		font-weight: 400;
		margin-top: .25em;
	}
}


.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
  
	&+.input {
		margin-top: 1.5rem;
	}
}

.input2 {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	margin-top: 10%;
	
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
  margin-left: 3%;
	transition: .25s ease;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #726b6b; 
	font: inherit;
	font-size: 1.125rem;
  padding-left: 3%;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input-label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	}
}

.action{
  margin-top: 20%;
  margin-left: 35%;
}

