<div class="container">

    <div class="card">
		
		<form class="card-form">
			<div class="input">
				<input type="text" class="input-field" required [(ngModel)]="createDTO.name" name="name"/>
				<label class="input-label">Name</label>
			</div>

			<div class="input">
				<input type="text" class="input-field" required [(ngModel)]="createDTO.location" name="location"/>
				<label class="input-label">Location</label>
			</div>

			<div class="input">
				<input type="text" class="input-field" required [(ngModel)]="createDTO.photos" name="photos"/>
				<label class="input-label">Photos</label>
			</div>

			<div class="input">
				<input type="text" class="input-field" required [(ngModel)]="createDTO.benefits" name="benefits"/>
				<label class="input-label">Features</label>
			</div>


            <div class="input">
				<input type="number" min="1" placeholder="Min amount of guests" class="input-field" required [(ngModel)]="createDTO.minGuests" name="minGuests"  />
				<label class="input-label">Min number of Guests</label>
			</div>


            <div class="input">
				<input type="number" min="1" placeholder="Max amount of guests" class="input-field" required [(ngModel)]="createDTO.maxGuests"  name="maxGuests" />
				<label class="input-label">Max number of Guests</label>
			</div>


			<div class="input">
				<input type="text" class="input-field" required [(ngModel)]="createDTO.acception" name="accepted" />
				<label class="input-label">Write automatic or handle</label>
			</div>

            <div class="action">
				<button mat-raised-button name="confirmButton" color="primary" [disabled]="createDTO.location === '' || createDTO.name === '' || createDTO.photos === '' 
				|| createDTO.benefits === '' || createDTO.maxGuests <= createDTO.minGuests || createDTO.acception !== 'automatic' && createDTO.acception !== 'handle' "  (click)=createNewAcommodation(createDTO)>Confirm</button>
			</div>

		</form>

	</div>
    

    
    

</div>