<div class="container">

    <div class="card">
		
		<form class="card-form">
			<div class="input">
				<input type="text" class="input-field" required/>
				<label class="input-label">Name</label>
			</div>

			<div class="input">
				<input type="text" class="input-field" required/>
				<label class="input-label">Location</label>
			</div>

			<div class="input">
				<input type="text" class="input-field" required/>
				<label class="input-label">Photos</label>
			</div>

            <div class="input2">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label >Features</mat-label>
                    <mat-select [formControl]="features" multiple>
                    <mat-option *ngFor="let feature of featureList" [value]="feature">{{feature}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="input">
				<input type="number" min="1" class="input-field" required oninput="this.value = 
				!!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : null"/>
				<label class="input-label">Min number of Guests</label>
			</div>

            <div class="input">
				<input type="number" min="1" class="input-field" required oninput="this.value = 
				!!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : null"/>
				<label class="input-label">Max number of Guests</label>
			</div>

            <div class="action">
				<button mat-raised-button color="primary" (click)=createNewAcommodation()>Confirm</button>
			</div>

		</form>

	</div>
    

    
    

</div>