<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<div class="container">
		<div class="login-box">
			<img>
			<h2>Login or <a class="clickable" (click)="registerNavigate()">register</a></h2>
			
			<form>
				<div class="input-box">
					<label for="username">Username:</label>
					<input type="text" name="username" id="username" [(ngModel)]="this.Username">
				</div>
				<div class="input-box">
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" [(ngModel)]="this.Password">
				</div>
				<input type="submit" value="Login" class="btn" (click)="logIn()">
			</form>
		</div>
	</div>
</body>
</html>