<div class="mainDiv">
     
    <div class="tableDiv">
        <table mat-table [dataSource]="dataSource" >


            <ng-container matColumnDef="guestName">
                <th mat-header-cell *matHeaderCellDef > Guest Username </th>
                <td mat-cell *matCellDef="let element"> {{element.guestUsername}} </td>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef > Start Date </th>
                <td mat-cell *matCellDef="let element"> {{element.fromDate | date : 'dd.MM.yyyy.'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="finishDate">
                <th mat-header-cell *matHeaderCellDef > End Date </th>
                <td mat-cell *matCellDef="let element"> {{element.toDate | date : 'dd.MM.yyyy.'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="numberOfGuests">
            <th mat-header-cell *matHeaderCellDef > Number of Guests </th>
            <td mat-cell *matCellDef="let element"> {{element.guestNumber }} </td>
            </ng-container>
        

            <ng-container matColumnDef="approve">
                <th mat-header-cell *matHeaderCellDef > </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="acceptRes(element.id)" aria-label="Example icon button with a plus one icon">
                        <mat-icon>done_outline</mat-icon>
                      </button>
            </ng-container>


       
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        
    </div>
  
</div>